nl --------------------------------
{% if settings[SystemSettings.FOOTER_LINE1] | count > 0 %}bc {{settings[SystemSettings.FOOTER_LINE1]}}{% endif %}
{% if settings[SystemSettings.FOOTER_LINE2] | count > 0 %}bc {{settings[SystemSettings.FOOTER_LINE2]}}{% endif %}
nl --------------------------------
:linefeed
:linefeed