{% if settings[SystemSettings.HEADER_LINE1] | count > 0 %}bc {{settings[SystemSettings.HEADER_LINE1]}}{% endif %}
{% if settings[SystemSettings.HEADER_LINE2] | count > 0 %}bc {{settings[SystemSettings.HEADER_LINE2]}}{% endif %}
{% if settings[SystemSettings.HEADER_LINE3] | count > 0 %}bc {{settings[SystemSettings.HEADER_LINE3]}}{% endif %}
{% if settings[SystemSettings.HEADER_LINE4] | count > 0 %}bc {{settings[SystemSettings.HEADER_LINE4]}}{% endif %}
nl --------------------------------