{% include "thermal/header.jinja2" %}
nl   Date: {{entity.created_at.strftime("%d/%m/%Y %I:%M%p")}}
nl  Shift: {{entity.shift}}  C.T: {{entity.member.cattle_type}}
nl Member: {{entity.member.name}}/{{entity.member_id}}
nl    FAT: {{ "%4.2f" | format(entity.fat) }}       {{ "CLR: %4.2f" | format(entity.clr) if settings["PRINT_CLR"] == "True" }}
nl    SNF: {{ "%4.2f" | format(entity.snf) }}       {{ " AW: %4.2f" | format(entity.aw) if settings["PRINT_WATER"] == "True" }}
nl    QTY: {{ "%4.2f" | format(entity.qty) }}
nl   RATE: ~{{ "%4.2f" | format(entity.rate) }}    TOTAL: ~{{ "%4.2f" | format(entity.total) }}
{% include "thermal/footer.jinja2" %}