S:{{entity.shift[0]}}
F:{{ "%4.2f" | format(entity.fat) }},C:{{ "%4.2f" | format(entity.clr) }}
S:{{ "%4.2f" | format(entity.snf) }},W:{{ "%4.2f" | format(entity.aw) }}
Q:{{ "%4.2f" | format(entity.qty) }},R:₹{{ "%4.2f" | format(entity.rate) }}    
T:₹{{ "%4.2f" | format(entity.total) }}
