{% extends "layout.jinja2" %}
{% block body %}

{% include "flash_messages.jinja2" %}
<form id="frmAbsentList" name="frmAbsentList" method="get" action="" class="inline">
    <div class="row">
        <div class="medium-1 columns">
            <label>{{_("Date")}}</label>
        </div>
        <div class="medium-4 columns">
            <input type="text" class="mousetrap tiny" name="day" value="{{search_date.day}}" />
            /
            <input type="text" class="mousetrap tiny" name="month" value="{{search_date.month}}"/>
            /
            <input type="text" class="mousetrap medium" name="year" value="{{search_date.year}}" />
        </div>
        <div class="medium-1 columns">
            <label>{{_("Shift")}}</label>
        </div>
        <div class="medium-4 columns">
            <select name="shift" class="mousetrap">
                <option {{ "selected" if shift == "MORNING" else ""}} value="MORNING">{{_("MORNING")}}</option>
                <option {{ "selected" if shift == "EVENING" else ""}} value="EVENING">{{_("EVENING")}}</option>
            </select>
        </div>
        <div class="medium-2 columns">
            <button type="submit" class="button expand">{{_("VIEW")}}</button>
        </div>
    </div>
</form>
<hr/>
<div class="report_container">
    {% include "report_print_header.jinja2" %}
    <div class="row">
        <div class="medium-12 columns text-center">
            <h4>{{_("ABSENT LIST")}}</h4>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="medium-4 columns">
            <h5>{{_("Total Absent")}}: <b>{{member_list|count}}</b></h5>
        </div>
        <div class="medium-4 columns">
            <h5>{{_("COW")}}: <b>{{cow_member_list|count}}</b></h5>
        </div>
        <div class="medium-4 columns">
            <h5>{{_("BUFFALO")}}: <b>{{buffalo_member_list|count}}</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <table class="expand" style="width:100%;" role="grid">
                <thead>
                    <tr>
                        <th>{{_("M.Code")}}</th>
                        <th>{{_("Name")}}</th>
                        <th>{{_("Mobile")}}</th>
                        <th>{{_("Cattle Type")}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in member_list %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.cattle_type}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div class="row">
    <div class="medium-12 columns">
        <a href="?print=True" data-key="p" class="button expand">P - {{_("PRINT")}}</a>
    </div>
    <div class="medium-12 columns end">
        <a href="/reports" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
    </div>
</div>
{% endblock %}