<div class="row">
	<div class="medium-12 columns text-center">
		<h1>{{_("Available Backups")}}</h1>
	</div>
</div>

{% for item in data %}
<div class="row text-center">
	<div class="medium-12 columns">
		<a href="/data_restore?key={{item}}" data-key="{{loop.index}}">{{loop.index}} - {{item}}</a>
	</div>
</div>
{% endfor %}