<a class="close-reveal-modal">&#215;</a>
<div class="row">
	<div class="medium-12 columns text-center">
		<h1>{{_("Available Backups")}}</h1>
	</div>
</div>

<div id="backuplist" style="overflow-y:scroll;max-height:350px;" tabindex="0">
	{% for x, item in data %}
	<div class="row text-center">
		<div class="medium-12 columns">
			<a href="/data_restore?key={{x}}" class="button expand" data-key="{{loop.index}}">{{loop.index}} - {{item}}</a>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row modal-footer">
    <div class="medium-4 columns">&nbsp;</div>
    <div class="medium-4 columns">
        <a href="#" data-key="n" id="btnBackupCancel" class="button expand warning">{{_("Cancel")}} <span class="access_key">N</span></a>
    </div>
</div>
<script>
	$(function(){
		$("#backuplist [data-key]").each(function(){
			var key = $(this).data("key");
			var $that = $(this);
			Mousetrap.bind(key.toString(), function(e) {
				$that[0].click();
				return true;
			});
		});


		$("#backuplist a").click(function(){
			$("#backupListModal").foundation('reveal', 'close');
			$("#page_loading h1").text('{{_("RESTORE IN PROCESS...")}}');
			$("#page_loading").removeClass("hide");
			return true;
		});

		$("#btnBackupCancel").click(function() {
	        $("#backupListModal").foundation("reveal", "close");
	        return false;
	    });

		setTimeout(function(){
			document.getElementById('backuplist').focus();
		}, 300);
	});
</script>