{% extends "layout.jinja2" %}

{% block breadcrumb %}
<li>{{_("SHIFT")}}: <span id="collection_shift">{{ _("MORNING") if morning_shift else _("EVENING")}}</span></li>
{% endblock %}

{% block body %}

<div class="row">
	<div class="medium-12 columns">
		<h1>{{_("Milk Collection")}}</h1>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<form name="frmCollection" id="frmCollection" method="post" action="/collection">
			<div class="row">
				<div class="medium-4 columns">
					<label>{{_("Member Code")}}
						<input type="text" class="mousetrap" id="member_code" name="member_code" />
					</label>
				</div>
				<div class="medium-4 columns">
					<label>{{_("Member Name")}}
						<div id="member_name"></div>
					</label>
				</div>
				<div class="medium-4 columns">
					<label>{{_("Cattle Type")}}
						<div id="member_cattle_type"></div>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>{{_("FAT")}}
						<input class="mousetrap" type="text" {{ "" if settings.get("MANUAL_FAT") == "True" else "disabled"}} name="fat" id="fat" />
					</label>
				</div>
				<div class="medium-6 columns">
					<label>{{_("CLR")}}
						<input class="mousetrap" type="text" name="clr" id="clr"/>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>{{_("SNF")}}
						<input class="mousetrap" type="text" {{ "" if settings.get("MANUAL_SNF") == "True" else "disabled"}} name="snf" id="snf"/>
					</label>
				</div>
				<div class="medium-6 columns">
					<label>{{_("WATER")}}
						<input class="mousetrap" type="text" name="water" id="water" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>{{_("QUANTITY")}}
						<input class="mousetrap" type="text" {{ "" if settings.get("MANUAL_QTY") == "True" else "disabled"}} name="qty" id="qty" />
					</label>
				</div>
				<div class="medium-3 columns">
					<h4>{{_("RATE/LITER")}}</h4>
				</div>
				<div class="medium-3 columns">
					<div class="text-right">
						<h2 id="rate">
							00.00
						</h2>
					</div>
					<input type="hidden" name="rate" id="txtRate" />
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns text-right">
					<h2>{{_("TOTAL")}}</h2>
				</div>
				<div class="medium-6 columns end text-right">
					<h2 id="total">000.00</h2>
					<input type="hidden" name="total" id="txtTotal" />
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

{% block sidebar %}
<div class="row">
	<div class="medium-12 columns">
		<p>{{_("Press: <em>T</em> to tare scale")}}</p>
		<p>{{_("Press: <em>Z</em> to tare can")}}</p>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		TODO: CAN IMAGE
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		<p>{{_("Average FAT")}}: <span id="average_fat">0.0</em></p>
		<p>{{_("Average SNF")}}: <span id="average_snf">0.0</em></p>
		<p>{{_("Total MILK (litres)")}}: <span id="total_milk">0.0</em></p>
		<p>{{_("Total Member")}}: <span id="total_member">0</em></p>
	</div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row">
	<div class="medium-12 columns hide">
		<div class="alert-box alert" id="member_status"></div>
	</div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="medium-12 columns hide">
		<div class="alert-box">
			<ul class="flashes">
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	{% endwith %}
</div>
<div class="row">
	<div class="medium-2 columns">
		<a href="#" id="btnSave" data-key="s" class="success button expand">
			S - {{_("SAVE")}}
		</a>
	</div>
	<div class="medium-2 columns">
		<a href="#" id="btnClear" data-key="c" class="button expand">C - {{_("CLEAR")}}</a>
	</div>
	<div class="medium-3 columns">
		<button type="button" data-key="d" class="button expand">D - {{_("CHANGE DATE")}}</button>
	</div>
	<div class="medium-2 columns end">
		<a href="/" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(function(){
		var error_member_no_found = '{{_("Member not found!")}}';
		var members = {{members_json}};

		function updateData(){
			$.get('/get_collection_data',function(data){
				$("#fat").val(data.fat);
				$("#snf").val(data.snf);
				$("#clr").val(data.clr);
				$("#water").val(data.water);
				$("#qty").val(data.qty);
				$("#rate").text(data.rate);
				$("#total").text(data.total);
				$("#txtRate").val(data.rate);
				$("#txtTotal").val(data.total);
			});
		}

		function clearData(){
			$("ul.flashes").remove();
			$("#member_status").parent().addClass("hide");
			$("#member_status").text("");
			$("#member_name").text("");
			$("#member_cattle_type").text("");
			$("input[type=text]").val("");
			$("#rate").text("00.00");
			$("#total").text("000.00");
			$("#member_code").focus();
			$("#txtRate").val("");
			$("#txtTotal").val("");
			$("#member_code").focus();
		}

		$("#member_code").on("keypress",function(e){
			if(e.keyCode == 13){
				$("#member_status").parent().addClass("hide");
				$("#member_status").text("");
				$("#member_name").text("");
				$("#member_cattle_type").text("");
				var code = parseInt($(this).val());
				var res = $.grep(members, function(x){ return x.id == code; });
				if(res && res.length == 1) {				
					var m = res[0];
					$("#member_name").text(m.name);
					$("#member_cattle_type").text(m.cattle_type);
					updateData();
				}else{
					$("ul.flashes").remove();
					$("#member_status").parent().removeClass("hide");
					$("#member_status").text(error_member_no_found);
				}
			}
		});

		$("#btnSave").click(function(){
			$("input[disabled]").prop("disabled", null);
			$("#frmCollection").submit();
			return false;
		});

		$("#btnClear").click(function(){
			clearData();
			return false;
		});

		clearData();
	});
</script>
{% endblock %}