{% extends "layout.jinja2" %}

{% block breadcrumb %}
<li>{{_("SHIFT")}}: <span id="collection_shift">{{ _(shift) }}</span></li>
{% endblock %}

{% block body %}
<div class=" collection-wrapper">
	<div class="row">
		<div class="medium-12 columns">
			<h1>
				{{_("Milk Collection")}}
				<small id="edit_date">{{date.strftime("%d/%m/%Y %I:%M%p")}}</small>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<form name="frmCollection" id="frmCollection" method="post" action="" autocomplete="off">
				<input type="hidden" name="collection_id" id="collection_id" value=""/>
				<input type="hidden" name="created_at" id="created_at" value="{{date}}"/>
				<input type="hidden" name="shift" id="shift" value="{{shift}}"/>
				<div class="row">
					<div class="medium-2 columns">
						<label for="member_code">{{_("M.Code")}}</label>
					</div>
					<div class="medium-2 columns">
						<input type="text" class="mousetrap" id="member_code" name="member_code" />
					</div>
					<div class="medium-4 columns">
						<div id="member_name"></div>
					</div>
					<div class="medium-2 columns text-right">
						<label>{{_("Cattle")}}</label>
					</div>
					<div class="medium-2 columns end">
						<div id="member_cattle_type"></div>
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<label>{{_("FAT")}}</label>
					</div>
					<div class="medium-4 columns">
						<input class="mousetrap" type="text" {{ "" if settings.get("MANUAL_FAT") == "True" else "disabled"}} name="fat" id="fat" />
					</div>
					<div class="medium-2 columns">
						<label>{{_("CLR")}}</label>
					</div>
					<div class="medium-4 columns">
						<input class="mousetrap" type="text" name="clr" id="clr"/>
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<label>{{_("SNF")}}</label>
					</div>
					<div class="medium-4 columns">
						<input class="mousetrap" type="text" {{ "" if settings.get("MANUAL_SNF") == "True" else "disabled"}} name="snf" id="snf"/>
					</div>
					<div class="medium-2 columns">
						<label>{{_("AW")}}</label>
					</div>
					<div class="medium-4 columns">
						<input class="mousetrap" type="text" name="water" id="water" />
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns">
						<label>{{_("QTY")}}</label>
					</div>
					<div class="medium-4 columns end">
						<input class="mousetrap" type="text" {{ "" if settings.get("MANUAL_QTY") == "True" else "disabled"}} name="qty" id="qty" />
					</div>
				</div>
				<div class="row">
					<div class="medium-2 columns" style="line-height: 110px;">
						<span>{{_("RATE")}}</span>
					</div>
					<div class="medium-4 columns">
						<div class="text-right">
							<span id="rate">00.00</span>
						</div>
						<input type="hidden" name="rate" id="txtRate" />
					</div>
					<div class="medium-2 columns text-right" style="line-height: 110px;">
						<span>{{_("TOTAL")}}</span>
					</div>
					<div class="medium-4 columns end text-right">
						<span id="total">000.00</span>
						<input type="hidden" name="total" id="txtTotal" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns hide">
		<div class="alert-box alert" id="member_status"></div>
	</div>
</div>
<div id="prev_error_msg">
	{% include "flash_messages.jinja2" %}
</div>

{% endblock %}

{% block sidebar %}
<div class="row">
	<div class="medium-12 columns">
		<p>
			{{_("Press: <em>T</em> to tare scale")}}
			<br/>
			{{_("Press: <em>Z</em> to tare can")}}
		</p>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		<ul class="graph-container">
			<li class="cow">
				<span>{{_("COW")}}</span>
				<div class="bar-wrapper">
					<div class="bar-container">
						<div class="bar-inner" data-value="{{'%0.2f'| format(c_qty)}}" style="height:{{'%0.2f'| format(c_qty)}}%"></div>
						<div class="bar-text">{{'%0.2f'| format(c_qty)}}</div>
					</div>
				</div>
			</li>
			<li class="buffalo">
				<span>{{_("BUFFALO")}}</span>
				<div class="bar-wrapper">
					<div class="bar-container">
						<div class="bar-inner" data-value="{{'%0.2f'| format(b_qty)}}" style="height:{{'%0.2f'| format(b_qty)}}%"></div>
						<div class="bar-text">{{'%0.2f'| format(b_qty)}}</div>
					</div>
				</div>
			</li>
			<li>
			</li>
		</ul>
	</div>
	<hr/>
</div>
<div class="row">
	<div class="medium-6 columns">
		{{_("Total Qty")}}
	</div>
	<div class="medium-6 columns">
		<b id="total_milk">{{'%0.2f'| format(summary["milk"][0]+summary["milk"][1]|float)}}</b>&nbsp;{{_("litres")}}
	</div>
</div>
<div class="row">
	<div class="medium-6 columns">
		{{_("COW")}}
	</div>
	<div class="medium-6 columns">
		{{'%0.2f'| format(summary["milk"][0]|float)}}&nbsp;{{_("litres")}}
	</div>
</div>
<div class="row">
	<div class="medium-6 columns">
		{{_("BUFFALO")}}
	</div>
	<div class="medium-6 columns">
		{{'%0.2f'| format(summary["milk"][1]|float)}}&nbsp;{{_("litres")}}
	</div>
</div>
<br/>
<div class="row">
	<div class="medium-6 columns">
		{{_("Total Mem")}}
	</div>
	<div class="medium-6 columns">
		<b id="total_member">{{summary["member"][0]+summary["member"][1]}}</b>
	</div>
</div>
<div class="row">
	<div class="medium-6 columns">
		{{_("COW")}}
	</div>
	<div class="medium-6 columns">
		{{summary["member"][0]}}
	</div>
</div>
<div class="row">
	<div class="medium-6 columns">
		{{_("BUFFALO")}}
	</div>
	<div class="medium-6 columns">
		{{summary["member"][1]}}
	</div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row action-buttons">
	<div class="medium-2 columns">
		<a href="#" id="btnSave" data-key="s" class="success button expand">S - {{_("SAVE")}}</a>
	</div>
	<div class="medium-2 columns">
		<a href="#" id="btnClear" data-key="c" class="button expand">C - {{_("CLEAR")}}</a>
	</div>
	<div class="medium-3 columns">
		<a href="#" data-key="d" class="button expand" data-reveal-id="dateChangeModal">D - {{_("CHANGE DATE")}}</a>
	</div>
	<div class="medium-3 columns end">
		<a href="/" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
	</div>
	<a href="#" onclick="$('#member_code').focus();" data-key="f" class="hide"></a>
	<a href="#" onclick="readOverride();" data-key="r" class="hide"></a>
</div>
<div id="dateChangeModal" class="reveal-modal medium" data-reveal>
	<h3>{{_("Change Date")}}</h3>
	<form name="frmChangeDate" id="frmChangeDate" method="get" class="inline">
		<div class="row">
			<div class="medium-12 columns">
				<label>{{_("Date")}}</label>
				<input type="text" class="mousetrap tiny" name="day" value="{{date.day}}" />
				/
				<input type="text" class="mousetrap tiny" name="month" value="{{date.month}}"/>
				/
				<input type="text" class="mousetrap medium" name="year" value="{{date.year}}" />
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="medium-12 columns">
				<label>{{_("Time")}}</label>
				<input type="text" class="mousetrap tiny" name="hour" value="{{date.strftime("%I")}}" />
				/
				<input type="text" class="mousetrap tiny" name="minute" value="{{date.strftime("%M")}}"/>
				/
				<input type="text" class="mousetrap medium" name="dn" value="{{date.strftime("%p")}}" />
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="medium-7 columns">
				&nbsp;
			</div>
			<div class="medium-5 columns end">
				<button type="submit" name="btnChangeDate" value="True" class="expand button">{{_("Change")}}</button>
			</div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(function(){
		var error_member_no_found = '{{_("Member not found!")}}';
		var error_milk_already_collected = '{{_("Milk already collected!")}}';
		var members = {{members_json}};
		var is_saving = false;

		$("#page_loading h1").text('{{_("READING DATA...")}}');

		$(document).ajaxStart(function(){
			//$("#page_loading").removeClass("hide");
		});

		$(document).ajaxComplete(function(){
			//$("#page_loading").addClass("hide");
		});

		function animateNumber(currency_symbol, value, el){
			var $el = $(el);
			var prevVal = 0;
			if($el.is(":input")){
			    prevVal = parseFloat($el.val());
            }else{
            	prevVal = parseFloat($el.text());
        	}

		    $({percentage: prevVal}).stop(true).animate({percentage: value}, {
		        duration : 750,
		        //easing: "easeOutExpo",
		        step: function () {
		            var percentageVal = this.percentage.toFixed(2);
		            var fmtValue = currency_symbol + percentageVal.toString();
		            if($el.is(":input")){
						$el.val(fmtValue);
		            }else{
		            	$el.text(fmtValue);
		        	}
		        }
		    }).promise().done(function () {
		        // hard set the value after animation is done to be
		        // sure the value is correct
		        var fmtValue = currency_symbol + value.toString();
		        if($el.is(":input")){
					$el.val(fmtValue);
	            }else{
	            	$el.text(fmtValue);
	        	}
		    });
		}

		function showError (msg) {
			$("#member_status").parent().removeClass("hide");
			$("#member_status").text(msg);
		}

		function hideError () {
			$("#prev_error_msg").remove();
			$("#member_status").parent().addClass("hide");
			$("#member_status").text("");
		}

		function updateData(member_id, override){
			if(is_saving || $("#member_code").val() == ""){
				return;
			}

			var shift = $("input[name=shift]").val();
			var cattle_type = $("#member_cattle_type").text().trim();
			var created_at = $("input[name=created_at]").val();
			var postdata = {"member_id": member_id,"created_at":created_at,"shift":shift,"cattle_type": cattle_type };

			if(override && override === true){
				postdata["override"] = true;
			}

			$.get('/get_collection_data', postdata,function(data){

				if(is_saving || $("#member_code").val() == ""){
					return;
				}				

				var grpElement = $(".graph-container .cow .bar-inner");
				if(cattle_type !== "COW") {
					grpElement = $(".graph-container .buffalo .bar-inner");
				}

				var prevVal = parseFloat(grpElement.data("value"));
				var heightVal = (prevVal + data.qty).toFixed(2).toString();
				animateNumber("", heightVal, grpElement.next(".bar-text"));
				grpElement.height(heightVal+"%");

				/*$("#fat").val(data.fat);
				$("#snf").val(data.snf);
				$("#clr").val(data.clr);
				$("#water").val(data.water);
				$("#qty").val(data.qty);*/
				$("#rate").text(data.fmt_rate);
				$("#total").text(data.fmt_total);
				//animateNumber(data.currency_symbol, data.total, "#total");
				animateNumber("", data.fat, "#fat");
				animateNumber("", data.snf, "#snf");
				animateNumber("", data.clr, "#clr");
				animateNumber("", data.water, "#water");
				animateNumber("", data.qty, "#qty");

				$("#txtRate").val(data.rate);
				$("#txtTotal").val(data.total);
				$("#collection_id").val("");

				if(data.collection_id && parseInt(data.collection_id) > 0) {
					$("#collection_id").val(data.collection_id);
					$("input[name=created_at]").val(data.created_at);
					//$("#shift").val(data.shift);
					showError(error_milk_already_collected);
				}
			}).complete(function(){
				
			});
		}

		function clearData(){
			$("ul.flashes").remove();
			$("#member_status").parent().addClass("hide");
			$("#member_status").text("");
			$("#member_name").text("");
			$("#member_cattle_type").text("");

			$("#member_code").val("");
			$("#fat").val("");
			$("#snf").val("");
			$("#clr").val("");
			$("#water").val("");
			$("#qty").val("");
			$("#collection_id").val("");

			$("#rate").text("00.00");
			$("#total").text("000.00");			
			$("#txtRate").val("");
			$("#txtTotal").val("");
			$("#member_code").focus();
		}

		$("#member_code").on("keypress",function(e){
			if(e.keyCode == 13){
				hideError();
				$("#member_name").text("");
				$("#member_cattle_type").text("");
				var code = parseInt($(this).val());

				if(isNaN(code)){
					return;
				}

				var res = $.grep(members, function(x){ return x.id == code; });
				if(res && res.length == 1) {				
					var m = res[0];
					$("#member_name").text(m.name);
					$("#member_cattle_type").text(m.cattle_type);
					updateData(code);
				}else{
					clearData();
					$("#member_code").val(code);
					showError(error_member_no_found);
				}
			}
		});

		$("#btnSave").click(function(){
			is_saving = true;
			Mousetrap.pause();
			$("#btnSave").prop("disabled", true);
			$("input[disabled]").prop("disabled", null);
			$("#page_loading h1").text('{{_("SAVING DATA...")}}');
			$("#page_loading").removeClass("hide");
			$("#frmCollection").submit();
			return false;
		});

		$("#btnClear").click(function(){
			clearData();
			return false;
		});

		clearData();

		var updateIntervalData = function(){
			setTimeout(updateIntervalData, 1000);
			var code = parseInt($("#member_code").val());
			var name = $("#member_name").text();
			var id = $("#collection_id").val();

			if(isNaN(code) || name === "" || name.length == 0 || id != "") {
				return;
			}

			updateData(code);
		};

		setTimeout(updateIntervalData, 1000);

		window.readOverride = function(){
			var code = parseInt($("#member_code").val());
			var name = $("#member_name").text();

			if(isNaN(code) || name === "" || name.length == 0) {
				return;
			}

			updateData(code, true);
		};


		$(document).on('opened.fndtn.reveal', '#dateChangeModal', function () {
			Mousetrap.pause();
			$("input[name=day]").focus();
		});

		$(document).on('closed.fndtn.reveal', '#dateChangeModal', function () {
			Mousetrap.unpause();
			$("#member_code").focus();
		});
	});
</script>
{% endblock %}