{% extends "layout.jinja2" %}

{% block breadcrumb %}
<li>SHIFT: <span id="collection_shift">MORNING</span></li>
{% endblock %}

{% block body %}

<div class="row">
	<div class="medium-12 columns">
		<h1>Collection</h1>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<form name="frmCollection" method="post" action="/save_collection">
			<div class="row">
				<div class="medium-4 columns">
					<label>M.Code
						<input type="text" placeholder="" name="member_code" />
					</label>
				</div>
				<div class="medium-4 columns">
					<label>M.Name
						<span id="member_name"></span>
					</label>
				</div>
				<div class="medium-4 columns">
					<label>Cattle Type
						<span id="member_cattle_type"></span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>FAT
						<input type="text" placeholder="" name="fat" />
					</label>
				</div>
				<div class="medium-6 columns">
					<label>CLR
						<input type="text" placeholder="" name="clr" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>SNF
						<input type="text" placeholder="" name="snf" />
					</label>
				</div>
				<div class="medium-6 columns">
					<label>WATER
						<input type="text" placeholder="" name="water" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>QTY
						<input type="text" placeholder="" name="quantity" />
					</label>
				</div>
				<div class="medium-6 columns">
					<label>RATE
						<input type="text" placeholder="" name="rate" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns text-right">
					<label>TOTAL</label>
				</div>
				<div class="medium-6 columns end text-right">
					<label id="total">000.00</label>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

{% block sidebar %}
<div class="row">
	<div class="medium-12 columns">
		<p>Press: <em>T</em> to tare scale</p>
		<p>Press: <em>Z</em> to tare can</p>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		CAN IMG ANIMATED
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		<p>Average FAT: <span id="average_fat">0.0</em></p>
		<p>Average SNF: <span id="average_snf">0.0</em></p>
		<p>Total MILK: <span id="total_milk">0.0</em></p>
		<p>Total Member: <span id="total_member">0</em></p>
	</div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row">
	<div class="medium-2 columns">
		<button type="button" data-key="s" class="success button expand">S - SAVE</button>
	</div>
	<div class="medium-2 columns">
		<button type="button" data-key="c" class="button expand">C - CLEAR</button>
	</div>
	<div class="medium-3 columns">
		<button type="button" data-key="d" class="button expand">D - CHANGE DATE</button>
	</div>
	<div class="medium-2 columns end">
		<a href="/" data-key="esc" class="warning button expand">ESC - EXIT</a>
	</div>
</div>
{% endblock %}