{% extends "layout.jinja2" %}
{% block body %}

{% include "flash_messages.jinja2" %}
<form id="frmPaymentReport" name="frmPaymentReport" method="get" action="" class="inline">
    <div class="row">
        <div class="medium-4 columns">
            <label>{{_("From Date")}}</label><br/>
            <input type="text" class="mousetrap tiny" name="from_day" value="{{from_date.day}}" />
            /
            <input type="text" class="mousetrap tiny" name="from_month" value="{{from_date.month}}"/>
            /
            <input type="text" class="mousetrap medium" name="from_year" value="{{from_date.year}}" />
        </div>
        <div class="medium-4 columns">
            <label>{{_("To Date")}}</label><br/>
            <input type="text" class="mousetrap tiny" name="to_day" value="{{to_date.day}}" />
            /
            <input type="text" class="mousetrap tiny" name="to_month" value="{{to_date.month}}"/>
            /
            <input type="text" class="mousetrap medium" name="to_year" value="{{to_date.year}}" />
        </div>
        <div class="medium-2 columns">
            <br/>
            <button type="submit" class="button expand">{{_("VIEW")}}</button>
        </div>
    </div>
</form>
<hr/>
{% include "reports/dairy_report.jinja2" %}
{% endblock %}


{% block sidebar %}
{% include "report_page_footer.jinja2" %}
{% endblock %}