{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("Data Reset")}}</h1>
                </div>
            </div>
            <br/>
            {% include "flash_messages.jinja2" %}
            <div class="text-center">
                <div class="row">
                    <div class="medium-5 small-centered columns">
                        <a href="/data_backup" class="large button expand" data-key="f1" data-confirm="{{_("Do you want to backup all data to USB?")}}">{{_("Backup")}} - F1</a>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-5 small-centered columns">
                        <a href="/get_available_data_backup" class="large button expand" data-reveal-id="backupListModal" data-reveal-ajax="true" data-key="f2" data-confirm="{{_("Do you want to restore all data from USB?")}}">{{_("Restore")}} - F2</a>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-5 small-centered columns">
                        <a href="/clear_collection_bills" class="large button expand" data-key="f3" data-confirm="{{_("Do you want to clear all milk collection data?")}}">{{_("Clear collection bills")}} - F3</a>
                    </div>
                </div>
                {% if can_access("admin") %}
                <div class="row">
                    <div class="medium-5 small-centered columns">
                        <a href="/factory_reset" class="alert large button expand" data-key="f4" data-confirm="{{_("Be sure to backup before doing this operation. ALL DATA WILL BE ERASED AND DEFAULT DATA WILL BE LOADED. Do you really want to do a factory reset? ")}}">{{_("Factory reset")}} - F4</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<a href="/" data-key="esc" class="hide"></a>
<div id="backupListModal" class="reveal-modal medium" data-reveal>
</div>
{% endblock %}