{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("Data Reset")}}</h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/backup" class="large button expand" data-key="f1">{{_("Backup")}} - F1</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/restore" class="large button expand" data-key="f2">{{_("Restore")}} - F2</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/clear_collection_bills" class="large button expand" data-key="f3">{{_("Clear collection bills")}} - F3</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/factory_reset" class="alert large button expand" data-key="f4">{{_("Factory reset")}} - F4</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/" data-key="esc" class="hide"></a>
{% endblock %}