{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("Data Reset")}}</h1>
                </div>
            </div>
            <br/>
            {% include "flash_messages.jinja2" %}
            <div class="text-center">
                <div class="row">
                    <div class="medium-6 small-centered columns">
                        <a id="backupBtn" href="/data_backup" class="large button expand" data-key="f1">{{_("Backup")}} <span class="access_key">F1</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 small-centered columns">
                        <a id="restoreBtn" href="/get_available_data_backup" class="large button expand" data-reveal-id="backupListModal" data-reveal-ajax="true" data-key="f2" data-confirm="{{_("Do you want to restore all data from USB?")}}">{{_("Restore")}} <span class="access_key">F2</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 small-centered columns">
                        <a href="/clear_collection_bills" class="large button expand" data-key="f3" data-confirm="{{_("Do you want to clear all milk collection data?")}}">{{_("Clear bills")}} <span class="access_key">F3</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 small-centered columns">
                        <a id="factoryResetBtn" href="/factory_reset" class="alert large button expand" data-key="f4" {{"disabled='disabled' tabindex='-1'" if not can_access("admin")}}>{{_("Factory reset")}} <span class="access_key">F4</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="backupListModal" class="reveal-modal medium" data-reveal>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="medium-12 columns">
        <div id="usb_devices">
        </div>
    </div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row action-buttons">
    <div class="medium-3 columns end">
        <a href="/" data-key="esc" class="button alert expand">{{_("EXIT")}} <span class="access_key">ESC</span></a>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
$(function(){
    var backup_confirm_msg = '{{_("Do you want to backup all data to USB?")}}';
    var factory_reset_confirm_msg = '{{_("Be sure to backup before doing this operation. ALL DATA WILL BE ERASED AND DEFAULT DATA WILL BE LOADED. Do you really want to do a factory reset? ")}}';

    $("#backupBtn").click(function(){
        if(confirm(backup_confirm_msg)){
            $("#page_loading h1").text('{{_("BACKUP IN PROCESS...")}}');
            $("#page_loading").removeClass("hide");
            return true;
        }
        return false;
    });

    $("#factoryResetBtn").click(function(){
        if(confirm(factory_reset_confirm_msg)){
            $("#page_loading h1").text('{{_("FACTORY RESET IN PROCESS...")}}');
            $("#page_loading").removeClass("hide");
            return true;
        }
        return false;
    });
});
</script>

{% endblock %}