{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="medium-12 columns text-center">
        <div class="panel callout radius">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <h3>Factory Reset</h3>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box success">
                        Successfully reseted the system with factory data!!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/data_reset" data-key="esc" class="hide"></a>
{% endblock %}