{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="medium-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <h2>{{_("Main Menu")}}</h2>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/collection" class="large button expand" data-key="f1">{{_("Collection")}} - F1</a>
                </div>
                <div class="medium-6 columns">
                    <a href="/reports" class="large button expand" data-key="f2">{{_("Reports")}} - F2</a>
                </div>
            </div>
            <div class="row">    
                <div class="medium-6 columns">
                    <a href="/basic_setup" class="large button expand" data-key="f3">{{_("Basic Setup")}} - F3</a>
                </div>

                <div class="medium-6 columns">
                    <a href="/settings" class="large button expand" data-key="f4">{{_("Settings")}} - F4</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/system_setup" class="large button expand" data-key="f5">{{_("System Setup")}} - F5</a>
                </div>
                <div class="medium-6 columns">
                    <a href="/data_reset" class="large button expand" data-key="f6">{{_("Data Reset")}} - F6</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/user" class="large button expand" data-key="f8">{{_("Manage User")}} - F8</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/logout" class="warning large button expand" data-key="f12">{{_("Logout")}} - F11</a>
                </div>
                <div class="medium-6 columns">
                    <a href="/shutdown" class="alert large button expand" data-key="f12">{{_("Shutdown")}} - F12</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}