{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="medium-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <h3> Main Menu</h3>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-4 columns">
                    <a href="/collection" class="large button expand" data-key="f1">Collection - F1</a>
                </div>
                <div class="medium-4 columns">
                    <a href="/reports" class="large button expand" data-key="f2">Reports - F2</a>
                </div>
                <div class="medium-4 columns">
                    <a href="/basic_setup" class="large button expand" data-key="f3">Basic Setup - F3</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    <a href="/settings" class="large button expand" data-key="f4">Settings - F4</a>
                </div>
                <div class="medium-4 columns">
                    <a href="/system_setup" class="large button expand" data-key="f5">System Setup - F5</a>
                </div>
                <div class="medium-4 columns">
                    <a href="/data_reset" class="large button expand" data-key="f6">Data Reset - F6</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    <a href="/user" class="large button expand" data-key="f8">User - F8</a>
                </div>
                <div class="medium-4 columns end">
                    <a href="/shutdown" class="alert large button expand" data-key="f12">Shutdown - F12</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}