<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ settings["SOCIETY_NAME"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}"/>
  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>

  <div class="wrapper">
    <header class="banner">
      <div class="row">
        <div class="medium-9 columns">
          <h1>{{ settings["SOCIETY_NAME"] }}</h1>
          <h3>{{ settings["SOCIETY_ADDRESS"] }}</h3>
          <h4>{{ settings.get("SOCIETY_ADDRESS1", "") }}</h4>
        </div>
        <div class="medium-3 columns text-right">
          {% if current_user.is_authenticated() %}
          {{_("User")}}: <b>{{ current_user.name }}</b>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="breadcrumbs__bg">
      <div class="row">
        <ul class="breadcrumbs">
          <li> {{_("Date")}}: <span id="sys_date">{{sys_date}}</span></li>
          <li> {{_("Time")}}: <span id="sys_time">{{sys_time}}</span></li>
          {% block breadcrumb %}
          {% endblock %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="medium-9 columns">
        {% block body %}

        {% endblock %}
      </div>
      <div class="medium-3 columns end sidebar">
        {% block sidebar %}

        {% endblock %}
      </div>
    </div>
    <div class="push"></div>
  </div>

  <footer>
   {% block statusbar %}

   {% endblock %}
 </footer>

 <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
 <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/mousetrap.min.js') }}"></script>
 <script>
  $(document).foundation();

  $(function(){
    Mousetrap.bind("home", function(e) {
      window.location.replace("/");
      return false;
    });
    $("[data-key]").each(function(){
      var key = $(this).data("key");
      var $that = $(this);
      Mousetrap.bind(key, function(e) {
        $that[0].click();
        return false;
      });
    });
  });

</script>
{% block scripts %}

{% endblock %}
</body>
</html>
