<!doctype html>
<html class="no-js" lang="ta-IN">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ settings["SOCIETY_NAME"] }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css', _external=True)}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css', _external=True)}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bar_graph.css', _external=True)}}"/>
  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>

  <div class="wrapper">
    <header class="banner">
      <div class="row">
        <div class="medium-9 columns">
          <h1>{{ settings["SOCIETY_NAME"] }}</h1>
          <h3>{{ settings["SOCIETY_ADDRESS"] }}</h3>
          <h4>{{ settings.get("SOCIETY_ADDRESS1", "") }}</h4>
        </div>
        <div class="medium-3 columns text-right">
          {% if current_user.is_authenticated() %}
          {{_("User")}}: <b>{{ current_user.name }}</b>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="breadcrumbs__bg">
      <div class="row">
        <ul class="breadcrumbs">
          <li> {{_("Date")}}: <span id="sys_date">{{sys_date}}</span></li>
          <li> {{_("Time")}}: <span id="sys_time">{{sys_time}}</span></li>
          {% block breadcrumb %}
          {% endblock %}
        </ul>
      </div>
    </div>

  <div class="loading text-center hide" id="page_loading">
    <h1>{{_("LOADING...")}}</h1>
  </div>

    <div class="row">
      <div class="medium-9 columns">
        {% block body %}

        {% endblock %}
      </div>
      <div class="medium-3 columns end sidebar">
        {% block sidebar %}

        {% endblock %}
      </div>
    </div>
    <div class="push"></div>
  </div>

  <footer>
   {% block statusbar %}

   {% endblock %}
 </footer>

 <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
 <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/mousetrap.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/mousetrap-pause.min.js') }}"></script>
 <script>
  $(document).foundation();

  $(function(){

    if($("#usb_devices").length > 0 ){
      $.get('{{url_for("get_usb_storage_devices")}}', function(data){
          $("#usb_devices").html(data);
      });
    }

    Mousetrap.bind("home", function(e) {
      window.location.replace("/");
      return false;
    });

    Mousetrap.bind("enter", function(e) {
      var $el = $(e.target);

      if($el.is("button")){
        return true;
      }

      var frm = $el.closest('form');
      var inputs = frm.find(':input[disabled!=disabled][type!=hidden]');
      var t = inputs.eq( inputs.index(e.target) + 1 );

      if(t.is("input[type=text]"))
      {
        t.select();
      }else{
        t.focus();
      }

      return false;
    });

    $("[data-key]").each(function(){
      var key = $(this).data("key");
      var $that = $(this);
      Mousetrap.bind(key, function(e) {

        if($that.is("[disabled=disabled]")){
          return false;
        }

        $that[0].click();
        return false;
      });
    });

    $("[data-confirm]").each(function(){
      var $that = $(this);
      $(this).on("click", function(e){
        var msg = $that.data("confirm");
        var action = confirm(msg);
        if(!action){
          e.stopPropagation();
          e.preventDefault();
          return false;
        }
        return true;
      });
    });

    function updateClock() {
      var months = ['January','February','March','April','May',
        'June','July','August','September','October','November','December'];
      var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

      var now = new Date();
      var hours = now.getHours();
      var dn = "AM";

      if (hours > 12)
      {
        dn = "PM";
        hours = hours - 12;
      }

      if (hours == 0)
      {
        hours = 12;
      }

      var time = hours + ':' + now.getMinutes() + " " + dn;
      var date = [now.getDate(), now.getMonth()+1, now.getFullYear()].join('/');

      // set the content of the element with the ID time to the formatted string
      $("#sys_date").text(date);
      $("#sys_time").text(time);

      // call this function again in 1minute
      setTimeout(updateClock, 1000*60);
    }

    updateClock(); // initial call
  });

  var print_msg = { 'start': '{{_("Print started...")}}', 'complete': '{{_("Print completed.")}}', 'error': '{{_("Print error.")}}' };

  function doReportPrint(el){
    var url = el.href;
    Mousetrap.pause();
    $("#print_report_status").removeClass("hide");
    $("#print_report_status_text").text(print_msg.start);

    $.get(url, {}, function(data){
      if(data && data.success){
        $("#print_report_status_text").text(print_msg.complete);
      }
    })
    .error(function(){
      $("#print_report_status_text").text(print_msg.error);
    })
    .complete(function(){
      Mousetrap.unpause();
    });
    return false;
  }

</script>
{% block scripts %}

{% endblock %}
</body>
</html>
