<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{_("LOGIN")}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}"/>
	<script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>

	<div id="loginFromContainer" class="login-container">
		<div class="row">
			<div class="medium-4 small-centered columns text-center end">
				<h1>{{_("LOGIN")}}</h1>
			</div>
		</div>
		<div class="row" id="errorbox">
			<div class="medium-4 small-centered columns end">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="alert-box warning">
					{% for message in messages %}
					{{ message }}<br/>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
			</div>
		</div>
		<div class="row" id="userlist">
			<div class="medium-4 small-centered columns end">
				{%for user in users%}
               <button class="button expand" data-key="f{{loop.index}}" data-name="{{user.name}}">
                 {{user.name}} <span class="access_key">F{{loop.index}}</span>
             </button>
             {%endfor%}
         </div>
     </div>
     <div class="row hide" id="loginbox">
         <div class="medium-4 small-centered columns end">
            <form action="/login" method="post">
               <label>{{_("Username")}}
                  <input type="text" name="username" id="username" value="{{username}}" disabled="disabled" />
              </label>
              <label>{{_("Password")}}
                  <input type="password" name="password" id="password" class="mousetrap"/>
              </label>
              <button type="submit" id="btnLogin" class="button text-center expand">{{_("Login")}}</button>
          </form>
      </div>
  </div>
</div>
<div id="loadingContainer" class="login-container hide text-center">
  <h1>LOADING...</h1>
</div>

<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mousetrap.min.js') }}"></script>
<script>
  $(document).foundation();

  $(function(){

    $("[data-key]").each(function(){
      var key = $(this).data("key");
      var $that = $(this);
      Mousetrap.bind(key, function(e) {
        $that[0].click();
        return false;
      });

      $(this).click(function(){
        $("#username").val($(this).data("name"));
        $("#errorbox").addClass("hide");
        $("#userlist").addClass("hide");
        $("#loginbox").removeClass("hide");
        $("#password").focus();
      });
    });

    Mousetrap.bind("esc", function(e) {
      $("#loginbox").addClass("hide");
      $("#userlist").removeClass("hide");
      return false;
    });

    $("#btnLogin").click(function(){
        $("#username").prop("disabled", false);
        $("#loginFromContainer").addClass("hide");
        $("#loadingContainer").removeClass("hide");
        return true;
    });
});
</script>
</body>
</html>
