{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="medium-12 columns text-center">
        <h1>{{_("Manage User")}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmUser" action="/user" method="post">
   <div class="row">
       <div class="medium-6 columns end">
        <label>{{_("User Id")}}
            <input type="text" name="id" value="{{user.id}}" />
        </label>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
        <label>{{_("Name")}}
            <input type="text" name="name" value="{{user.name}}"/>
        </label>
    </div>
    <div class="medium-6 columns">
        <label>{{_("Password")}}
            <input type="password" name="password"/>
        </label>
    </div>
</div>
<div class="row">
    <div class="medium-2 columns">
    <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
    </div>
</div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns">
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th>{{_("User Id")}}</th>
                    <th>{{_("Name")}}</th>
                    <th>{{_("Role")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in user_list %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.roles}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block statusbar %}
<div class="row action-buttons">
    <div class="medium-2 columns end">
        <a href="/" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
    </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}