{% extends "layout.jinja2" %}
{% block body %}

{% include "flash_messages.jinja2" %}

{% include "reports/member_list.jinja2" %}

{% endblock %}


{% block sidebar %}
<div class="row">
    <div class="medium-12 columns">
        <a href="?print=True" data-key="p" class="button expand">P - {{_("PRINT")}}</a>
    </div>
    <div class="medium-12 columns end">
        <a href="/reports" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
    </div>
</div>
{% endblock %}