{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>Member Setup</h1>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-box warning">
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
<form name="frmMember" id="frmMember" action="/member" method="post">
    <div class="row">
        <div class="medium-6 columns">
            <label>Member Code
                <input type="text" name="code"/>
            </label>
        </div>
        <div class="medium-6 columns">
            <label>Member Name
                <input type="text" name="name"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <label>Cattle Type
                <select name="cattle_type">
                    <option>COW</option>
                    <option>BUFFALO</option>
                </select>
            </label>
        </div>
        <div class="medium-6 columns">
            <label>Mobile
                <input type="text" name="mobile"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <button type="submit" id="btnSave" class="success button expand">SAVE</button>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns">
        <label>Total Member: {{member_list|count}}</label>
        <br/>
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th>Member Code</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Cattle Type</th>
                    <th>Created on</th>
                </tr>
            </thead>
            <tbody>
                {% for item in member_list %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.cattle_type}}</td>
                    <td>{{item.created_at.strftime("%d/%m/%Y %I:%M%p")}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="medium-12 columns end">
        <p>
            Free member codes {{", ".join(free_list)}}
        </p>
    </div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row">
    <div class="medium-2 columns end">
        <a href="/system_setup" data-key="esc" class="warning button expand">ESC - EXIT</a>
    </div>
</div>
{% endblock %}