{% extends "layout.jinja2" %}
{% block body %}

{% include "flash_messages.jinja2" %}
<div class="report_container">
    {% include "report_print_header.jinja2" %}
    <div class="row">
        <div class="medium-12 columns text-center">
            <h4>{{_("MEMBER LIST")}}</h4>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="medium-4 columns">
            <h5>{{_("Total Members")}}: <b>{{member_list|count}}</b></h5>
        </div>
        <div class="medium-4 columns">
            <h5>{{_("COW")}}: <b>{{cow_member_list|count}}</b></h5>
        </div>
        <div class="medium-4 columns">
            <h5>{{_("BUFFALO")}}: <b>{{buffalo_member_list|count}}</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <table class="expand" style="width:100%;" role="grid">
                <thead>
                    <tr>
                        <th>{{_("M.Code")}}</th>
                        <th>{{_("Name")}}</th>
                        <th>{{_("Mobile")}}</th>
                        <th>{{_("Cattle Type")}}</th>
                        <th>{{_("Created on")}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in member_list %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.cattle_type}}</td>
                        <td>{{item.created_at.strftime("%d/%m/%Y %I:%M%p")}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div class="row">
    <div class="medium-12 columns">
        <a href="?print=True" data-key="p" class="button expand">P - {{_("PRINT")}}</a>
    </div>
    <div class="medium-12 columns end">
        <a href="/reports" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
    </div>
</div>
{% endblock %}