{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("Rate Setup")}} - {{_("Total Solid 1")}}  - {{cattle_type}}</h1>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-box warning">
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
<form name="frmTS1RateSetup" id="frmTS1RateSetup" action="" method="post">
    <div class="row">
        <div class="medium-3 columns">
            <label>{{_("Slab No")}}
                <input type="text" name="id" id="slab_no" class="mousetrap"/>
                <input type="hidden" name="cattle_type" value="{{cattle_type}}"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("From")}}
                <input type="text" name="min_value" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("To")}}
                <input type="text" name="max_value" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Rate TS")}}
                <input type="text" name="rate" class="mousetrap"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns">
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th class="text-right">{{_("Slab No")}}</th>
                    <th class="text-right">{{_("From")}}</th>
                    <th class="text-right">{{_("To")}}</th>
                    <th class="text-right">{{_("RATE TS")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rate_list %}
                <tr>
                    <td class="text-right">{{item.id}}</td>
                    <td class="text-right">{{item.min_value}}</td>
                    <td class="text-right">{{item.max_value}}</td>
                    <td class="text-right">{{item.rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="medium-12 columns end">
        <a href="?cattle_type=COW" data-key="f1" class="button expand">F1 - {{_("COW")}}</a>
        <a href="?cattle_type=BUFFALO" data-key="f2" class="button expand">F2 - {{_("BUFFALO")}}</a>
    </div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row action-buttons">
    <div class="medium-2 columns end">
        <a href="/rate_setup" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
        <a href="#" onclick="$('#slab_no').focus();" data-key="f" class="hide"></a>
    </div>
</div>
{% endblock %}