{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("Total Solid")}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmTS1RateSetup" id="frmTS1RateSetup" action="" method="post">
    <div class="row">
        <div class="medium-3 columns end">
            <label>{{_("Slab No")}}
                <input type="text" name="id" id="slab_no" class="mousetrap"/>
                <input type="hidden" name="cattle_type" value="{{cattle_type}}"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Min FAT")}}
                <input type="text" name="min_fat" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Max FAT")}}
                <input type="text" name="max_fat" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns end">
            <label>{{_("Rate FAT TS")}}
                <input type="text" name="fat_rate" class="mousetrap"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            &nbsp;
        </div>
        <div class="medium-3 columns">
            <label>{{_("Min SNF")}}
                <input type="text" name="min_snf" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Max SNF")}}
                <input type="text" name="max_snf" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns end">
            <label>{{_("Rate SNF TS")}}
                <input type="text" name="snf_rate" class="mousetrap"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns" style="overflow-y:scroll;max-height:400px;">
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th class="text-right">{{_("Slab No")}}</th>
                    <th class="text-right">{{_("Min FAT")}}</th>
                    <th class="text-right">{{_("Max FAT")}}</th>
                    <th class="text-right">{{_("RATE TS")}}</th>
                    <th class="text-right">{{_("Min SNF")}}</th>
                    <th class="text-right">{{_("Max SNF")}}</th>
                    <th class="text-right">{{_("RATE TS")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rate_list %}
                <tr>
                    <td class="text-right">{{item.id}}</td>
                    <td class="text-right">{{item.min_fat}}</td>
                    <td class="text-right">{{item.max_fat}}</td>
                    <td class="text-right">{{item.fat_rate}}</td>
                    <td class="text-right">{{item.min_snf}}</td>
                    <td class="text-right">{{item.max_snf}}</td>
                    <td class="text-right">{{item.snf_rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="medium-12 columns end">
        <a href="?cattle_type=COW" data-key="f1" class="button expand {{"success" if cattle_type == "COW"}}">F1 - {{_("COW")}}</a>
        <a href="?cattle_type=BUFFALO" data-key="f2" class="button expand {{"success" if cattle_type == "BUFFALO"}}">F2 - {{_("BUFFALO")}}</a>
    </div>
</div>
{% endblock %}

{% block statusbar %}
{% include "rate_action_buttons.jinja2" %}
{% endblock %}