{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("FAT")}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmFatRateSetup" id="frmFatRateSetup" action="" method="post">
    <div class="row">
        <div class="medium-2 columns">
            <label>{{_("Slab No")}}                
                <input type="text" name="id" id="slab_no" class="mousetrap" maxlength="2" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Min Value")}}
                <input type="text" name="min_value" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Max Value")}}
                <input type="text" name="max_value" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-2 columns">
            <label>{{_("Rate TS")}}
                <input type="text" name="rate" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-2 columns">
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
            <input type="hidden" name="cattle_type" value="{{cattle_type}}"/>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns">
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th class="text-right">{{_("Slab No")}}</th>
                    <th class="text-right">{{_("Min FAT")}}</th>
                    <th class="text-right">{{_("Max FAT")}}</th>
                    <th class="text-right">{{_("RATE TS")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rate_list %}
                <tr>
                    <td class="text-right">{{item.id}}</td>
                    <td class="text-right">{{item.min_value}}</td>
                    <td class="text-right">{{item.max_value}}</td>
                    <td class="text-right">{{item.rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "rate_action_cattle_type.jinja2" %}
{% endblock %}

{% block statusbar %}
{% include "rate_action_buttons.jinja2" %}
{% endblock %}