{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("Rate Setup")}} - FAT - {{cattle_type}}</h1>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert-box warning">
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}
<form name="frmFatRateSetup" id="frmMember" action="" method="post">
    <div class="row">
        <div class="medium-6 columns">
            <label>{{_("Slab No")}}
                <input type="text" name="id"/>
            </label>
        </div>
        <div class="medium-6 columns">
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            <label>{{_("Min Value")}}
                <input type="text" name="min_value"/>
            </label>
        </div>
        <div class="medium-4 columns">
            <label>{{_("Max Value")}}
                <input type="text" name="max_value"/>
            </label>
        </div>
        <div class="medium-4 columns">
            <label>{{_("Rate TS")}}
                <input type="text" name="rate"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns">
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th>{{_("Slab No")}}</th>
                    <th>{{_("Min FAT")}}</th>
                    <th>{{_("Max FAT")}}</th>
                    <th>{{_("RATE TS")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rate_list %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.min_value}}</td>
                    <td>{{item.max_value}}</td>
                    <td>{{item.rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="medium-12 columns end">
        <a href="/rate_fat?cattle_type=COW" data-key="f1" class="button expand">F1 - {{_("COW")}}</a>
        <a href="/rate_fat?cattle_type=BUFFALO" data-key="f2" class="button expand">F2 - {{_("BUFFALO")}}</a>
    </div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row">
    <div class="medium-2 columns end">
        <a href="/rate_setup" data-key="esc" class="warning button expand">ESC - {{_("EXIT")}}</a>
    </div>
</div>
{% endblock %}