{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("Rate Setup")}}</h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/rate_fat" class="large button expand" data-key="f1">{{_("FAT")}} - F1</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/rate_fat_and_snf" class="large button expand" data-key="f2">{{_("FAT AND SNF")}} - F2</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/rate_total_solid" class="large button expand" data-key="f3">{{_("Total Solid")}} - F3</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/rate_total_solid1" class="large button expand" data-key="f4">{{_("Total Solid 1")}} - F4</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/system_setup" data-key="esc" class="hide"></a>
{% endblock %}