{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("FAT &amp; SNF")}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmFatSnfRateSetup" id="frmFatSnfRateSetup" action="" method="post">
    <div class="row">
        <div class="medium-3 columns">
            <label>{{_("FAT")}}
                <input type="text" name="fat" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("SNF")}}
                <input type="text" name="snf" class="mousetrap" maxlength="6"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Rate")}}
                <input type="text" name="rate" class="mousetrap" maxlength="6"/>
            </label>
        </div>
        <div class="medium-2 columns end">
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
            <input type="hidden" name="cattle_type" value="{{cattle_type}}"/>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns" style="overflow:scroll;max-height:350px">
        <table class="expand" style="width:100%;" role="grid">
            <thead>
                <tr>
                    <th class="text-right">{{_("FAT/SNF")}}</th>
                    {% for snf in snf_list %}
                    <th class="text-right">{{snf}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fat in rates.keys() %}
                <tr>
                    <td class="text-right">{{fat}}</td>
                    {% for snf in snf_list %}
                        <td class="text-right">{{ "%0.2f" | format(rates[fat][snf])}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "rate_action_cattle_type.jinja2" %}
{% endblock %}

{% block statusbar %}
{% include "rate_action_buttons.jinja2" %}
{% endblock %}