<div class="row">
	<div class="medium-12 columns">
		<a href="{{request.path}}?{{request.query_string + ("" if request.query_string | count == 0 else "&")  + "print=True"}}" onclick="event.preventDefault();doReportPrint(this);" data-key="p" class="button expand">{{_("PRINT")}} <span class="access_key">P</span></a>
	</div>
	<div class="medium-12 columns end">
		<a href="#" onclick="$('input:first').select();return false;" data-key="e" class="button warning expand">{{_("EDIT")}}  <span class="access_key">E</span></a>
	</div>
	<div class="medium-12 columns end">
		<a href="/reports" data-key="esc" class="button alert expand">{{_("EXIT")}}  <span class="access_key">ESC</span></a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="medium-12 columns">
		<div id="print_report_status" class="alert-box info hide">
			<div id="print_report_status_text"></div>
		</div>
	</div>
</div>