{% extends "layout.jinja2" %}

{% block breadcrumb %}
<li>{{_("SHIFT")}}: <span id="collection_shift">{{ _(shift) }}</span></li>
{% endblock %}

{% block body %}

<div class=" collection-wrapper">
	<div class="row">
		<div class="medium-12 columns text-center">
			<h1>{{_("Shutdown")}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<p>{{_("Shutting down the system. Please wait 20seconds before switching OFF the power")}}
		</div>
	</div>
</div>

{% endblock %}