{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("System Setup")}}</h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/member" class="large button expand" data-key="f1">{{_("Member")}} - F1</a>
                </div>
            </div>
            {% if can_access("admin") or can_access("setup") %}
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/rate_setup" class="large button expand" data-key="f2">{{_("Rate")}} - F2</a>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="medium-4 small-centered columns">
                    <a href="/language" class="large button expand" data-key="f3">{{_("Language")}} - F3</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/" data-key="esc" class="hide"></a>
{% endblock %}