{% extends "layout.jinja2" %}
{% block body %}

{% include "flash_messages.jinja2" %}
<form id="frmAbsentList" name="frmAbsentList" method="get" action="" class="inline">
    <div class="row">
        <div class="medium-1 columns">
            <label>{{_("Date")}}</label>
        </div>
        <div class="medium-5 columns">
            <input type="text" class="mousetrap tiny" name="day" value="{{search_date.day}}" />
            /
            {{ select_month(selected_value=search_date.month) }}
            /
            {{ select_year(years=select_control_years, selected_value=search_date.year) }}
        </div>
        <div class="medium-1 columns">
            <label>{{_("Shift")}}</label>
        </div>
        <div class="medium-3 columns">
            {{ select_shift(selected_value=shift) }}
        </div>
        <div class="medium-2 columns">
            <button type="submit" class="button expand">{{_("VIEW")}}</button>
        </div>
    </div>
</form>
<hr/>
{% include "reports/absence_list.jinja2" %}
{% endblock %}


{% block sidebar %}
{% include "report_page_footer.jinja2" %}
{% endblock %}
