{% extends "layout.jinja2" %}

{% block breadcrumb %}
{% endblock %}

{% block body %}

<div class="row">
	<div class="medium-12 columns">
		<h1>{{_("Basic Setup")}}</h1>
	</div>
</div>
{% include "flash_messages.jinja2" %}
<div class="row">
	<div class="medium-12 columns">
		<form name="frmBasicSetup" id="frmBasicSetup" method="post" action="">
			<div class="row">
				<div class="medium-6 columns end">
					<label>{{_("Date")}}
						<input type="text" class="mousetrap" name="date" value="{{sys_date}}"/>
					</label>
				</div>
				<div class="medium-6 columns">
					<label>{{_("Time")}}
						<input type="text" class="mousetrap" name="time" value="{{sys_time}}" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label>{{_("Society Name")}}</label>
					<input type="text" class="mousetrap" name="society_name" value="{{settings['SOCIETY_NAME']}}" maxlength="100"/>
					<input type="text" class="mousetrap" name="society_address" value="{{settings['SOCIETY_ADDRESS']}}" maxlength="100"/>
					<input type="text" class="mousetrap" name="society_address1" value="{{settings['SOCIETY_ADDRESS1']}}" maxlength="100"/>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>{{_("Header")}}</label>
					<input type="text" class="mousetrap" name="header_line1" value="{{settings['HEADER_LINE1']}}" maxlength="36" />
					<input type="text" class="mousetrap" name="header_line2"  value="{{settings['HEADER_LINE2']}}" maxlength="36"/>
					<input type="text" class="mousetrap" name="header_line3"  value="{{settings['HEADER_LINE3']}}" maxlength="36"/>
					<input type="text" class="mousetrap" name="header_line4"  value="{{settings['HEADER_LINE4']}}" maxlength="36"/>
				</div>
				<div class="medium-6 columns">
					<label>{{_("Footer")}}</label>
					<input type="text" class="mousetrap" name="footer_line1" value="{{settings['FOOTER_LINE1']}}" maxlength="36"/>
					<input type="text" class="mousetrap" name="footer_line2" value="{{settings['FOOTER_LINE2']}}" maxlength="36"/>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
{% block sidebar %}
<div class="row">
	<div class="medium-12 columns end">
		<a href="#" onclick="$('input:first').select();return false;" data-key="f1" class="button warning expand">{{_("EDIT")}}  <span class="access_key">F1</span></a>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		<a href="#" onclick="$('#frmBasicSetup').submit();return false;" data-key="f2" class="success button expand">{{_("SAVE")}} <span class="access_key">F2</span></a>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns end">
		<a href="/" data-key="esc" class="button alert expand">{{_("EXIT")}}  <span class="access_key">ESC</span></a>
	</div>
</div>
{% endblock %}