{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="medium-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="medium-12 columns text-center">
                    <h2>{{_("Main Menu")}}</h2>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/collection" class="large button expand" data-key="f1">{{_("Collection")}} <span class="access_key">F1</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/reports" class="large button expand" data-key="f2">{{_("Reports")}} <span class="access_key">F2</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/basic_setup" class="large button expand" data-key="f3" {{"disabled='disabled' tabindex='-1'" if not (can_access("admin") or can_access("setup"))}}>{{_("Basic Setup")}} <span class="access_key">F3</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/settings" class="large button expand" data-key="f4" {{"disabled='disabled' tabindex='-1'" if not (can_access("admin") or can_access("setup"))}}>{{_("Settings")}} <span class="access_key">F4</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/system_setup" class="large button expand" data-key="f5">{{_("System Setup")}} <span class="access_key">F5</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/data_reset" class="large button expand" data-key="f6" {{"disabled='disabled' tabindex='-1'" if not (can_access("admin") or can_access("data"))}}>{{_("Data Reset")}} <span class="access_key">F6</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/user" class="large button expand" data-key="f7" {{"disabled='disabled' tabindex='-1'" if not can_access("admin")}}>{{_("Manage User")}} <span class="access_key">F7</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/logout" class="warning large button expand" data-key="f9">{{_("Logout")}}  <span class="access_key">F9</span></a>
                </div>
                <div class="medium-6 columns end">
                    <a href="/shutdown" class="alert large button expand" data-key="f12">{{_("Shutdown")}} <span class="access_key">F12</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}