{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("Member Setup")}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmMember" id="frmMember" action="/member" method="post">
    <div class="row">
        <div class="medium-2 columns">
            <label>{{_("M.Code")}}
                <input type="text" name="code" maxlength="4" value="{{member.id}}" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("M.Name")}}
                <input type="text" name="name" maxlength="20" value="{{member.name}}" class="mousetrap"/>
            </label>
        </div>
        <div class="medium-2 columns">
            <label>{{_("Cattle")}}
                <select name="cattle_type" class="mousetrap">
                    <option {{ "selected" if member.cattle_type == "COW" }} value="COW">{{_("COW")}}</option>
                    <option {{ "selected" if member.cattle_type == "BUFFALO" }} value="BUFFALO">{{_("BUFFALO")}}</option>
                </select>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Mobile")}}
                <input type="text" name="mobile" maxlength="10" class="mousetrap" value="{{member.mobile}}"/>
            </label>
        </div>
        <div class="medium-2 columns">
            <br/>
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns">
        <h4 style="margin:0">{{_("Total Member")}}: <b>{{member_list|count}}</b></h4>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <br/>
        <table class="expand" role="grid" id="tblMember">
            <thead>
                <tr>
                    <th>{{_("Member Code")}}</th>
                    <th>{{_("Name")}}</th>
                    <th>{{_("Mobile")}}</th>
                    <th>{{_("Cattle Type")}}</th>
                    <th>{{_("Created on")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in member_list %}
                <tr data-id="{{item.id}}" data-name="{{item.name}}"  data-mobile="{{item.mobile}}"  data-cattle="{{item.cattle_type}}">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.cattle_type}}</td>
                    <td>{{item.created_at.strftime("%d/%m/%Y %I:%M%p")}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="medium-12 columns end">
        <p>
            {{_("Free member codes")}} {{", ".join(free_list)}}
        </p>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div id="usb_devices">
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <a href="#" onclick="$('input:first').select();return false;" data-key="f1" class="button warning expand">{{_("EDIT")}} <span class="access_key">F1</span></a>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <a href="/member_export" data-key="f2" class="button expand">{{_("EXPORT")}} <span class="access_key">F2</span></a>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <a href="/member_import" data-key="f3" class="button expand">{{_("IMPORT")}} <span class="access_key">F3</span></a>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns end">
        <a href="/system_setup" data-key="esc" class="button alert expand">{{_("EXIT")}} <span class="access_key">ESC</span></a>
        <a href="#" onclick="$('#slab_no').focus();" data-key="f" class="hide"></a>
    </div>
</div>

{% endblock %}

{% block statusbar %}

{% endblock %}

{% block scripts %}
<script>

$(function(){
    $("#tblMember tbody tr td").click(function(){
        var tr = $(this).closest("tr");
        $("input[name=code]").val(tr.data("id"));
        $("input[name=name]").val(tr.data("name"));
        $("select[name=cattle_type]").val(tr.data("cattle"));
        $("input[name=mobile]").val(tr.data("mobile"));
    });
});

</script>
{% endblock %}