<div class="row">
    <div class="medium-12 columns end">
        <a href="?cattle_type=COW" data-key="f6" class="button expand {{"success" if cattle_type == "COW"}}">{{_("COW")}} <span class="access_key">F6</span></a>
        <a href="?cattle_type=BUFFALO" data-key="f7" class="button expand {{"success" if cattle_type == "BUFFALO"}}">{{_("BUFFALO")}} <span class="access_key">F7</span></a>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div id="usb_devices">
        </div>
    </div>
</div>