{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("FAT &amp; SNF")}} - {{cattle_type}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmFatSnfRateSetup" id="frmFatSnfRateSetup" action="" method="post">
    <div class="row">
        <div class="medium-3 columns">
            <label>{{_("FAT")}}
                <input type="text" name="fat" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("SNF")}}
                <input type="text" name="snf" class="mousetrap" maxlength="6"/>
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Rate")}}
                <input type="text" name="rate" class="mousetrap" maxlength="6"/>
            </label>
        </div>
        <div class="medium-2 columns end">
            <br/>
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
            <input type="hidden" name="cattle_type" value="{{cattle_type}}"/>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns" style="overflow:scroll;max-height:350px">
        <table class="expand" id="tblFatSNFRate" role="grid">
            <colgroup></colgroup>
            {% for snf in snf_list %}
                <colgroup></colgroup>
            {% endfor %}
            <thead>
                <tr>
                    <th class="text-right">{{_("FAT/SNF")}}</th>
                    {% for snf in snf_list %}
                    <th class="text-right">{{snf}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fat in rates.keys() %}
                <tr>
                    <td class="text-right">{{fat}}</td>
                    {% for snf in snf_list %}
                        {% set rate = "%0.2f" | format(rates[fat][snf]) %}
                        <td class="text-right" data-fat="{{fat}}" data-snf="{{snf}}" data-rate="{{rate}}">
                            {{ rate }}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "rate_action_cattle_type.jinja2" %}
{% endblock %}

{% block statusbar %}
{% include "rate_action_buttons.jinja2" %}
{% endblock %}

{% block scripts %}
<script>

$(function(){
    $("#tblFatSNFRate tbody tr td").click(function(){
        var item = $(this);
        $("input[name=fat]").val(item.data("fat"));
        $("input[name=snf]").val(item.data("snf"));
        $("input[name=rate]").val(item.data("rate"));
    });

    $("#tblFatSNFRate").on('mouseover mouseleave', 'td', function(e) {
        if (e.type == 'mouseover') {
          $(this).parent().addClass("highlight");
          $("colgroup").eq($(this).index()).addClass("highlight");
        }
        else {
          $(this).parent().removeClass("highlight");
          $("colgroup").eq($(this).index()).removeClass("highlight");
        }
    });
});

</script>
{% endblock %}
