{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>{{_("Total Solid")}}</h1>
    </div>
</div>
{% include "flash_messages.jinja2" %}
<form name="frmTS1RateSetup" id="frmTS1RateSetup" action="" method="post">
    <div class="row">
        <div class="medium-3 columns end">
            <label>{{_("Slab No")}}
                <input type="text" name="id" id="slab_no" class="mousetrap" maxlength="4" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Min FAT")}}
                <input type="text" name="min_fat" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Max FAT")}}
                <input type="text" name="max_fat" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns end">
            <label>{{_("Rate FAT TS")}}
                <input type="text" name="fat_rate" class="mousetrap" maxlength="6" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns">
            &nbsp;
        </div>
        <div class="medium-3 columns">
            <label>{{_("Min SNF")}}
                <input type="text" name="min_snf" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns">
            <label>{{_("Max SNF")}}
                <input type="text" name="max_snf" class="mousetrap" maxlength="6" />
            </label>
        </div>
        <div class="medium-3 columns end">
            <label>{{_("Rate SNF TS")}}
                <input type="text" name="snf_rate" class="mousetrap" maxlength="6" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <button type="submit" id="btnSave" class="success button expand">{{_("SAVE")}}</button>
            <input type="hidden" name="cattle_type" value="{{cattle_type}}"/>
        </div>
    </div>
</form>
<hr/>
<div class="row">
    <div class="medium-12 columns" style="overflow-y:scroll;max-height:400px;">
        <table class="expand" id="tblTSRate" role="grid">
            <thead>
                <tr>
                    <th class="text-right">{{_("Slab No")}}</th>
                    <th class="text-right">{{_("Min FAT")}}</th>
                    <th class="text-right">{{_("Max FAT")}}</th>
                    <th class="text-right">{{_("RATE TS")}}</th>
                    <th class="text-right">{{_("Min SNF")}}</th>
                    <th class="text-right">{{_("Max SNF")}}</th>
                    <th class="text-right">{{_("RATE TS")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rate_list %}
                <tr data-id="{{item.id}}" data-minfat="{{item.min_fat}}" data-maxfat="{{item.max_fat}}" data-minsnf="{{item.min_snf}}" data-maxsnf="{{item.max_snf}}" data-snfrate="{{item.snf_rate}}" data-fatrate="{{item.fat_rate}}">
                    <td class="text-right">{{item.id}}</td>
                    <td class="text-right">{{item.min_fat}}</td>
                    <td class="text-right">{{item.max_fat}}</td>
                    <td class="text-right">{{item.fat_rate}}</td>
                    <td class="text-right">{{item.min_snf}}</td>
                    <td class="text-right">{{item.max_snf}}</td>
                    <td class="text-right">{{item.snf_rate}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block sidebar %}
{% include "rate_action_cattle_type.jinja2" %}
{% endblock %}

{% block statusbar %}
{% include "rate_action_buttons.jinja2" %}
{% endblock %}

{% block scripts %}
<script>

$(function(){
    $("#tblTSRate tbody tr td").click(function(){
        var tr = $(this).closest("tr");
        $("input[name=id]").val(tr.data("id"));
        $("input[name=min_fat]").val(tr.data("minfat"));
        $("input[name=max_fat]").val(tr.data("maxfat"));
        $("input[name=fat_rate]").val(tr.data("fatrate"));
        $("input[name=min_snf]").val(tr.data("minsnf"));
        $("input[name=max_snf]").val(tr.data("maxsnf"));
        $("input[name=snf_rate]").val(tr.data("snfrate"));
    });
});

</script>
{% endblock %}