{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("Rate Setup")}}</h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/rate_fat" class="large button expand" data-key="1">{{_("FAT")}} <span class="access_key">1</span></a>
                </div>
            </div>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/rate_fat_and_snf" class="large button expand" data-key="2">{{_("FAT AND SNF")}} <span class="access_key">2</span></a>
                </div>
            </div>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/rate_total_solid" class="large button expand" data-key="3">{{_("Total Solid")}} <span class="access_key">3</span></a>
                </div>
            </div>
            <div class="row">
                <div class="medium-5 small-centered columns">
                    <a href="/rate_total_solid1" class="large button expand" data-key="4">{{_("Total Solid 1")}} <span class="access_key">4</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row action-buttons">
    <div class="medium-3 columns end">
        <a href="/system_setup" data-key="esc" class="button alert expand">{{_("EXIT")}} <span class="access_key">ESC</span></a>
    </div>
</div>
{% endblock %}