{% extends "layout.jinja2" %}
{% block body %}

<div class="row">
    <div class="large-12 columns text-center">
        <div class="panel">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h1>{{_("Reports")}}</h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/detail_shift" class="large button expand" data-key="1">{{_("Detail shift report")}} <span class="access_key">1</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/shift_summary" class="large button expand" data-key="2">{{_("Shift summary report")}} <span class="access_key">2</span></a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/member_report" class="large button expand" data-key="3">{{_("Member report")}} <span class="access_key">3</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/payment_report" class="large button expand" data-key="4">{{_("Payment report")}} <span class="access_key">4</span></a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/dairy_report" class="large button expand" data-key="5">{{_("Dairy report")}} <span class="access_key">5</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/settings_report" class="large button expand" data-key="6">{{_("Settings report")}} <span class="access_key">6</span></a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <a href="/member_list" class="large button expand" data-key="7">{{_("Member list")}} <span class="access_key">7</span></a>
                </div>
                <div class="medium-6 columns">
                    <a href="/absence_list" class="large button expand" data-key="8">{{_("Absense list")}} <span class="access_key">8</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block statusbar %}
<div class="row action-buttons">
    <div class="medium-3 columns end">
        <a href="/" data-key="esc" class="button alert expand">{{_("EXIT")}} <span class="access_key">ESC</span></a>
    </div>
</div>
{% endblock %}