{% extends "layout.jinja2" %}

{% block body %}

{% include "flash_messages.jinja2" %}
{% include "reports/settings_report.jinja2" %}
{% endblock %}

{% block sidebar %}
{% include "report_page_footer.jinja2" %}
{% endblock %}