{% if (devices|count) > 0 %}

<h4>{{_("USB Storages")}}</h4>

{% for item in devices %}

<p><b>{{item}}</b></p>

{% endfor %}

{% else %}

<div class="alert-box info">
<p>{{_("No USB storage devices found")}}</p>
</div>

{% endif %}