h1{
	margin: 0 0 24px;
}

a[disabled] {
    pointer-events: none;
}

.row{
	max-width: 98%;
}

.sidebar{
	border-left: 1px solid #aaa;
	min-height: 500px;
	height:100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
}

footer, .push {
	clear: both;
	/*height: 45px;*/
}

footer{
	background-color: #eee;
}

footer .action-buttons{
	padding-top: 15px;
}

.login-container{
	margin-top: 18%;
	height: auto !important;
}

header.banner{
	margin-bottom: 0;
}

.collection-wrapper,
.collection-wrapper label,
.collection-wrapper input {
	font-family: "ITC Avant Garde Gothic W01";
	font-size: 22px;
}

.collection-wrapper input{
	height: auto;
    padding: 12px;
    font-size: 36px;
}

.collection-wrapper label{
	line-height: 65px;
}

.banner h1,
.banner h3,
.banner h4 {
	color:#fff;
	margin: 0;
}

.banner h1{
	font-size: 32px;    
}
.banner h3{
	font-size: 22px;    
}
.banner h4{
	font-size: 20px;    
}

.breadcrumbs__bg{
	background-color: #d2d2d2;
	border-color: #d2d2d2;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 20px;
}

.breadcrumbs {
	background: none;
	border: none;
	padding: 20px;
	margin-bottom: 0;
}

.breadcrumbs li{
	font-size: 18px;
}
.breadcrumbs li span{
	font-weight: bolder;
}

#member_name, #member_cattle_type{
	border: 1px solid #ddd;
    font-weight: bold;
    height: 50px;
    line-height: 53px;
    width: 100%;
}

#total, #rate {
	font-size: 64px;
}

#total {	
	color:#ff5115;
}

.button{
	border-width: 5px;
	text-align: left;
	text-transform: uppercase;
	text-indent: 20px;
}

.switch input:focus + label,
.switch input:hover + label {
	background-color: skyblue;
}

.button:focus,
.button:hover {
	border:5px solid #ff5115;
}

.button.alert:focus,
.button.alert:hover,
.button.warning:focus,
.button.warning:hover{
	border-color: #007095;
}

.button span.access_key{
	position: absolute;
	right: 20px;
}

.button.disabled, .button[disabled],
.button.disabled:hover, .button[disabled]:hover,
.button.disabled:focus, .button[disabled]:focus
{
	background-color: #666;
	border-color: #666;
}

form.inline input,
form.inline select,
form.inline label {
	display: inline-block;
	margin: 0;
}

form.inline label {
	line-height: 2.3;
}

form.inline input.tiny {
	width: 40px;
}

form.inline input.medium {
	width: 80px;
}

form.inline .button {
	padding: 4px;
	margin: 0;
}

.report_container {
	border: 2px solid #333;
	padding: 10px 0 0;
}

.report_container h1,
.report_container h2,
.report_container h3,
.report_container h4,
.report_container h5,
.report_container h6 {
	margin: 0;
	margin-top: 3px;
}

.report_container table {
	margin: 0;
	margin-top: 20px;
	border-top: 3px solid #333;
}

.loading{
    position: absolute;
    z-index: 100;
    width:100% !important;
    height:100%;
    background-color:#80BCD4;
    opacity: 0.85;
    margin-top: -20px;
}

.loading h1{
	position: relative;
	top: 35%;
	opacity: 1.0;
	z-index: 101;
}

.modal-footer{
  position: relative;
  bottom: -35px;
}