<div class="report_container">
    {% include "report_print_header.jinja2" %}
    <div class="row">
        <div class="medium-12 columns text-center">
            <h4>{{_("PAYMENT SUMMARY REPORT")}}</h4>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="medium-4 columns">
            <h5>{{_("FROM")}}: <b>{{from_date}}</b></h5>
        </div>
        <div class="medium-4 columns">
            <h5>{{_("TO")}}: <b>{{to_date}}</b></h5>
        </div>
        <div class="medium-4 columns">
            <h5>{{_("Increment/Litre")}}: <b>{{increment}}</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <table class="expand" style="width:100%;" role="grid">
                <thead>
                    <tr>
                        <th class="text-right">{{_("M.Code")}}</th>
                        <th class="text-right">{{_("M.Name")}}</th>
                        <th class="text-right">{{_("FAT")}}</th>
                        <th class="text-right">{{_("SNF")}}</th>
                        <th class="text-right">{{_("QTY")}}</th>
                        <th class="text-right">{{_("Rate")}}</th>
                        <th class="text-right">{{_("Amount")}}</th>
                        <th class="text-right">{{_("Increment")}}</th>
                        <th class="text-right">{{_("Total")}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id in lst.keys() %}
                    {% set item = lst[id] %}
                    <tr>
                        <td class="text-right">{{id}}</td>
                        <td class="text-right">{{item.name}}</td>
                        <td class="text-right">{{item.fat}}</td>
                        <td class="text-right">{{item.snf}}</td>
                        <td class="text-right">{{item.qty}}</td>
                        <td class="text-right">{{item.rate}}</td>
                        <td class="text-right">{{item.amount}}</td>
                        <td class="text-right">{{item.increment}}</td>
                        <td class="text-right">{{item.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-right">{{lst|count}}</th>
                        <th class="text-right"></th>
                        <th class="text-right">{{summary["fat"]}}</th>
                        <th class="text-right">{{summary["snf"]}}</th>
                        <th class="text-right">{{summary["qty"]}}</th>
                        <th class="text-right">{{summary["rate"]}}</th>
                        <th class="text-right">{{summary["amount"]}}</th>
                        <th class="text-right">{{summary["increment"]}}</th>
                        <th class="text-right">{{summary["total"]}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>