<div class="report_container">
	{% include "report_print_header.jinja2" %}
	<div class="row">
		<div class="medium-12 columns text-center">
			<h4>{{_("SETTINGS REPORT")}}</h4>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="medium-4 columns">
			<h5>{{_("Date")}}: <b>{{sys_date}}</b></h5>
		</div>
		<div class="medium-4 columns end">
			<h5>{{_("Time")}}: <b>{{sys_time}}</b></h5>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="medium-12 columns text-center">
			<h3>{{_("Basic settings")}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<table class="expand" style="width:100%;" role="grid">
				<colgroup>
					<col width="40%" />
					<col/>
				</colgroup>
				<tbody>
					{% for key in basic_keys %}
					<tr>
						<td>{{key}}</td>
						<td>{{settings[key] if settings[key] != None else ""}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns text-center">
			<h3>{{_("Settings")}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<table class="expand" style="width:100%;" role="grid">
				<colgroup>
					<col width="40%" />
					<col/>
				</colgroup>
				<tbody>
					{% for key in settings_keys %}
					{% set val = settings[key] if settings[key] != None else "" %}
					<tr>
						<td>{{key}}</td>
						<td>{{ "ON" if val == "True" else ("OFF" if val == "False" else val) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>