<div class="report_container">
    {% include "report_print_header.jinja2" %}
    <div class="row">
        <div class="medium-12 columns text-center">
            <h4>{{_("DAY DETAIL REPORT")}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <h6>{{_("Date")}}: {{search_date}} /  {{_("Shift")}}: {{shift}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <table class="expand" style="width:100%;" role="grid">
                <thead>
                    <tr>
                        <th>{{_("M.Code")}}</th>
                        <th>{{_("M.Name")}}</th>
                        <th>{{_("Cattle")}}</th>
                        <th class="text-right">{{_("FAT%%")}}</th>
                        <th class="text-right">{{_("SNF%%")}}</th>
                        <th class="text-right">{{_("QTY")}}</th>
                        <th class="text-right">{{_("Rate")}}</th>
                        <th class="text-right">{{_("Total")}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in mcollection %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{ member_list[item.member.id].name }}</td>
                        <td>{{ member_list[item.member.id].cattle_type }}</td>
                        <td class="text-right">{{item.fat}}</td>
                        <td class="text-right">{{item.snf}}</td>
                        <td class="text-right">{{item.qty}}</td>
                        <td class="text-right">{{item.rate}}</td>
                        <td class="text-right">{{item.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <table class="expand" style="width:100%;" role="grid">
                <thead>
                    <tr>
                        <th>{{_("Cattle")}}</th>
                        <th class="text-right">{{_("Total Member")}}</th>
                        <th class="text-right">{{_("FAT%%")}}</th>
                        <th class="text-right">{{_("SNF%%")}}</th>
                        <th class="text-right">{{_("QTY")}}</th>
                        <th class="text-right">{{_("Rate")}}</th>
                        <th class="text-right">{{_("Total")}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{_("COW")}}</th>
                        <td class="text-right">{{summary["member"][0]}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["fat"][0]|float)}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["snf"][0]|float)}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["milk"][0]|float)}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["rate"][0]|float)}}</td>
                        <th class="text-right">{{'%0.2f'| format(summary["total"][0]|float)}}</th>
                    </tr>
                    <tr>
                        <th>{{_("BUFFALO")}}</th>
                        <td class="text-right">{{summary["member"][1]}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["fat"][1]|float)}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["snf"][1]|float)}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["milk"][1]|float)}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["rate"][1]|float)}}</td>
                        <th class="text-right">{{'%0.2f'| format(summary["total"][1]|float)}}</th>
                    </tr>
                    <tr>
                        <th>{{_("Grand value")}}</th>
                        <td class="text-right">{{summary["grand"]["member"]}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["grand"]["fat"])}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["grand"]["snf"])}}</td>
                        <td class="text-right">{{'%0.2f'| format(summary["grand"]["qty"])}}</td>
                        <th class="text-right">{{'%0.2f'| format(summary["grand"]["rate"])}}</th>
                        <th class="text-right">{{'%0.2f'| format(summary["grand"]["total"])}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>