body {
	width: 100%;
	margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  top: -10px;
}

div.wrapper {
	flex: 1;
}

.flexbox {
	margin-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flexbox .col {
  flex: 1;
}
.flexbox .col:nth-child(1) {
  flex-grow: 4;
  height: calc(90vh - 180px);
  order: 0;
  overflow-y: auto;
}
.flexbox .col:nth-child(2) {
  order: 1;
  height: calc(90vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
}
.flexbox .col:nth-child(3) {
  flex-grow: 2;
  order: 2;
  height: calc(90vh - 180px);
  overflow: hidden;
}

.panel{
	margin-bottom: 0;
	padding: 10px;
}

h1{
	margin: 0 0 24px;
}

a[disabled] {
    pointer-events: none;
}

label {
	font-size: 24px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea,
select {
	font-size: 24px;
	height: 42px;
}

select {
	font-size: 22px;
}

form .button{
	margin-bottom: 0px;
}

.row{
	max-width: 98%;
}

.sidebar{
	border-left: 1px solid #aaa;
}

footer{
	background-color: #eee;
}

footer .action-buttons{
	padding-top: 10px;
}

.login-container{
	margin-top: 18%;
	height: auto !important;
}

header.banner{
	margin-bottom: 0;
}

.collection-wrapper,
.collection-wrapper label,
.collection-wrapper input {
	font-family: "ITC Avant Garde Gothic W01";
	font-size: 2vw;
}

.collection-wrapper input{
	height: auto;
  padding: 0.8vw;
  font-size: 2.2vw;
}

.collection-wrapper label{
	font-size: 30px;
	margin-top: 15px;
}

#lbl_member_code{
	font-size: 1.2vw;
}

.banner h1,
.banner h3,
.banner h4 {
	color:#fff;
	margin: 0;
}

.banner h1{
	font-size: 32px;    
}
.banner h3{
	font-size: 22px;    
}
.banner h4{
	font-size: 20px;    
}

.breadcrumbs__bg{
	background-color: #d2d2d2;
	border-color: #d2d2d2;
	border-style: solid;
	border-width: 1px;
}

.breadcrumbs {
	background: none;
	border: none;
	margin-bottom: 0;
}

.breadcrumbs li{
	font-size: 28px;
	line-height: 30px;
}
.breadcrumbs li span{
	font-weight: bolder;
}

#member_name, #member_cattle_type{
	border: 1px solid #DDD;
	height: 70px;
	padding: 12px;
	font-size: 30px;
	margin-bottom: 16px;
}

#lblQty{
	margin-top: 35px;
}

#lblTotal{
	margin-top: 25px;
}

input#fat, input#snf, input#qty {
	color: rgba(35, 5, 123, 0.75);
}

input#qty{
	font-size: 3.3vw;
}

#rate{
	color: #ff5115;
	font-size: 8vw;
	line-height: 1;
}

.rate-bg{
	background-color: #f1f5f6;
}

#total, #rate {
	white-space: nowrap;
	letter-spacing: 6px;
}

#total {	
	color:#368A55;
	font-size: 7vw;
	line-height: 1;
}

.milk__can__status__container {
	font-size: 1vw;
}

#dateChangeModal select {
	display: inline-block;
	width: 220px;
}

.button{
	border-width: 5px;
	text-align: left;
	text-transform: uppercase;
	text-indent: 20px;
	margin-bottom: 10px;
}

.switch input:focus + label,
.switch input:hover + label {
	background-color: skyblue;
}

.button:focus,
.button:hover {
	border:5px solid #ff5115;
}

.button.alert:focus,
.button.alert:hover,
.button.warning:focus,
.button.warning:hover{
	border-color: #007095;
}

.button span.access_key{
	position: absolute;
	right: 20px;
}

.button.disabled, .button[disabled],
.button.disabled:hover, .button[disabled]:hover,
.button.disabled:focus, .button[disabled]:focus
{
	background-color: #666;
	border-color: #666;
}

form.inline input,
form.inline select,
form.inline label {
	display: inline-block;
	margin: 0;
}

form.inline label {
	line-height: 2.7;
}

form.inline input,
form.inline select {
	margin-top: 12px;
}

form.inline input.tiny{
	width: 50px;
}

form.inline select.tiny {
	width: 80px;
}

form.inline input.medium {
	width: 90px;
}

form.inline select.medium {
	width: 120px;
	font-size: 20px;
}

.report_container {
  border: 2px solid #333;
  margin: 6px;
}

.report_container h1,
.report_container h2,
.report_container h3,
.report_container h4,
.report_container h5,
.report_container h6 {
	margin: 0;
	margin-top: 3px;
}

.report_container table {
	margin: 0;
	margin-top: 20px;
	display: flex;
  flex-flow: column;
}

.report_container:focus {
	border: 1px solid blue;
}

.report_container table thead,
.report_container table tfoot { 
	/*flex: 0 0 auto;*/
	flex: 1 1 auto;
	width: calc(100% - 0.0em);
  /*width: calc(100% - 0.9em);*/
}

.report_container table tbody{
  flex: 1 1 auto;
  display: block;
  /*overflow-y: scroll;*/
}

.report_container table.scroll tbody{
  /*height: 300px;*/
}

.report_container table.noscroll tbody{
  height: auto;
}

.report_container table tbody tr {
    width: 100%;
}

.report_container table thead,
.report_container table tfoot,
.report_container table tbody tr {
    display: table;
    table-layout: fixed;
}

.loading{
    position: absolute;
    z-index: 100;
    width:100% !important;
    height:100%;
    background-color:#80BCD4;
    opacity: 0.85;
    margin-top: -20px;
}

.loading h1{
	position: relative;
	top: 35%;
	opacity: 1.0;
	z-index: 101;
}

.modal-footer{
  position: relative;
  bottom: -35px;
}

table tbody tr:hover td{
	background-color: rgba(237, 237, 18, 0.75);
	cursor: pointer;
}

.highlight {
	background-color: rgba(237, 237, 18, 0.75) !important;
}

table tr:nth-of-type(even) {
    background: none; 
}
